<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addPost</title>
</head>
<body>
    <form action="{% url 'addpost' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" id=""><br>
        <textarea name="text" id="" cols="30" rows="10"></textarea><br><br>
        <button type="submit">Add POST</button>
    </form>
</body>
</html>