<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
</head>
<body>
    <header>
        {% if user.is_authenticated  %}
           <h1>Welcome, 
            {{user.username}}</h1>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a><br>
        <a href="{% url 'signup' %}">sign up</a>
        {% endif %}
        
        <hr><hr>
        <br>
    </header>
    {% if articles %}
        {% for article in articles %}
            <p>
                <center><h4>{{article.title}}</h4></center>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{article.text}}
            </p>
            <hr>
        {% endfor %}
    {% endif  %}
    <a href="{% url 'addpost' %}">Add post</a>
</body>
</html>